---
import Card from '../Card.astro';
---
<section id="about" class="py-24">
    <h2 class="text-4xl font-bold mb-12 text-center animate-fade-in-up" style="opacity: 0;">Resumen Profesional</h2>
    <Card>
        <p class="text-lg text-text-secondary leading-relaxed text-center max-w-4xl mx-auto">
            Consultor Funcional SAP S/4HANA con una sólida trayectoria en la ejecución de proyectos complejos, desde implementaciones y migraciones Bluefield hasta rollouts y soporte en entornos Cloud y On-Premise. Especializado en el módulo de Gestión de Materiales (MM) y con un profundo conocimiento técnico en ABAP, Python y SQL, mi enfoque es fusionar la excelencia funcional con la innovación técnica para optimizar procesos de negocio y entregar soluciones robustas, eficientes y sostenibles que impulsen el valor en cada fase del ciclo de vida del proyecto.
        </p>
    </Card>
</section>