---
import ExperienceItem from '../ExperienceItem.jsx';
import experiences from '../../data/experience.json';
---
<section id="experience" class="py-24">
    <h2 class="text-4xl font-bold mb-16 text-center">Experiencia Profesional</h2>
    <div class="max-w-3xl mx-auto">
        {experiences.map(exp => (
            <ExperienceItem date={exp.date} title={exp.title} company={exp.company} description={exp.description} />
        ))}
    </div>
</section>