---
---
<div class="bg-card p-8 rounded-xl h-full transition-all duration-300 relative group overflow-hidden">
  <div class="absolute inset-0 bg-gradient-to-r from-primary to-sky-400 opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>
  <div class="relative">
    <slot />
  </div>
</div>